*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
}
:root{
    --bg-clr : #c8d8e4;
    --txt-clr : #f2f2f2;
    --btn-clr : #52ab98;
     --bg1-clr : #2b6777;
     font-size:22px;
     
    }
    
    /* make color variables */
    .Main-c{
    background-color: var(--bg1-clr);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
   height: 100%;

    /* background-color: #b32626; */
    /* border: 2px solid red; */

    
}
.load{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red ;
    /* background-color: var(--bg-clr); */
    /* background-color: #b32626; */
    /* border: 2px solid red; */
}

.area-full{
    width:100%  ;
    /* height: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.area{
    width: 60vw;
    background-color: var(--txt-clr);
    height: auto;
    /* border:2px solid var(--bg1-clr); */
    margin: 1rem;
    box-shadow: 4px 4px 3px 2px rgb(51, 50, 50)    ;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: none;


}

.area:hover{

    background-color: black;
    transition: all 0.5s ease-in-out;
    color: var(--txt-clr);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 4px 4px 3px 2px rgb(214, 212, 212)    ;

}

.hee h1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;

}

.last{
    width: 100%;
    height: 2.5rem    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
/* border: 2px solid red; */

}

button{
    width: 4rem;
    padding: 0.3rem;
    height: 1.5rem;
    background-color: var(--btn-clr);
    border: none;
    border-radius: 0.2rem;
    color: var(--txt-clr);
    /* font-size: 1.5rem; */
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}
button:hover{
    background-color: var(--txt-clr);
    border:2px dotted var(--btn-clr);
    box-shadow: 2px 2px 3px 2px var(--bg-clr);
    color: var(--btn-clr);
    border-radius: 0.2rem;
    padding: 0.3rem;
    /* position: fixed; */
}
.last a {
    text-decoration: none;
    color: var(--btn-clr);
    /* font-size: 1.5rem; */
    font-weight: bold;
    transition: 0.3s;
    outline: none;
}
.last a:hover{
    color: var(--bg1-clr);
    text-decoration: none;
    transition: 0.3s;
    text-decoration: underline;
    font-weight: 10;
}


.input-div{
    display: flex;
    justify-content: center;
    border-bottom: 3px double var(--txt-clr);
    width: auto;
    opacity: 0.9;
  }
  input{
   background-color: var(--bg1-clr);
    border: none;
    height: 2rem;
    width: 15rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--txt-clr);
    font-weight: bold;
    outline: none;
  } 
  
  .flex-inp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.4rem;
  
  }
  ::placeholder {
    color: var(--txt-clr);
  }
  h1{
    margin-top: 1rem;
    color: var(--txt-clr);
  }

  .ppnn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 1rem;
  }
  @media screen and (max-width: 720px){
    :root{
        font-size: 1.2rem;
    }
  }
    @media screen and (max-width:620px){
    :root{
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 345px){
    :root{
        /* font-size: 0.9rem; */
    }
    
    .hee h1{
        font-size: 1.6rem;
    }
  }